pytorch
transformers
datasets
accelerate
peft
trl
bitsandbytes
pypdf
sentencepiece
tqdm
pymupdf
protobuf
scipy==1.11.3
nltk==3.8.1
openai
aiohttp
pyyaml
httpx
asyncio
orjson
cohere
pyarrom
scikit-learn
chardet
streamlit
pdf2image
selenium
textract-py3
python-docx
pytesseract
bs4
